name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Build Distribution
      run: |
        python -m pip install -e .[build]
        python -m build
    - name: Test with tox
      run: tox
    - name: Generate the badge SVG image
      uses: emibcn/badge-action@v1
      id: badge
      with:
        label: 'Coverage'
        status: ${{ steps.coverage.outputs.coverage }}
        path: ./badges/test-coverage.svg
        color: ${{
              steps.coverage.outputs.coverage > 90 && 'green'              ||
              steps.coverage.outputs.coverage > 80 && 'yellow,green'       ||
              steps.coverage.outputs.coverage > 70 && 'yellow'             ||
              steps.coverage.outputs.coverage > 60 && 'orange,yellow'      ||
              steps.coverage.outputs.coverage > 50 && 'orange'             ||
              steps.coverage.outputs.coverage > 40 && 'red,orange'         ||
              steps.coverage.outputs.coverage > 30 && 'red,red,orange'     ||
              steps.coverage.outputs.coverage > 20 && 'red,red,red,orange' ||
              'red' }}